<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="{% url 'edit_class' class.id %}" method="post">
    {% csrf_token %}

    <p><input type="text" name="id" value="{{class.id}}" style="display:none"></p>
    <p>班级名称<input type="text" name="cname" value="{{ class.cname }}"></p>
    <p>开班日期<input type="text" name="first_day" value="{{ class.first_day|date:"Y-m-d" }}"></p>
    <p><input type="submit" value="提交"></p>

</form>
</body>
</html>